body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Playfair Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* 'Ubuntu', 'Cantarell', 'Fira Sans', 'Segoe UI','Droid Sans','Roboto', 'Oxygen','Helvetica Neue',
    sans-serif */